<% @orders.each do |order| %>
  <div class="d-flex align-items-center">
    <%= order.created_at.to_time.strftime('%B %e, %Y') %>
    <span class="badge rounded-pill bg-warning text-dark"><%= order.status %></span>
  </div>
  <% order.order_details.each do |od| %>
    <div class="jumbotron">
      <div class="d-flex align-items-center">
        <p class="lead">
          <%= image_tag od.product.product_photos.first.photo_url %>
        </p>
        <div class="ms-3">
          <p class="fw-bold"><%= od.product.name %></p>
          <p><%= od.quantity %> barang x <%= number_to_currency(od.product.price, unit: "Rp. ") %></p>
          <%= link_to 'Lihat', summary_path(od) %>
        </div>
      </div>
    </div>
  <% end %>
  <p class="fw-bold">Total: <%= number_to_currency(order.total_price, unit: "Rp. ") %></p>
  <hr class="my-4">
<% end %>
