<% @orders.each do |order| %>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <%= order.created_at.to_time.strftime('%B %e, %Y') %>
      <%= order.user.name %>
      <%= render "order_status", order: order %>
    </div>
    <div>
      <%= render 'order_option', order: order %>
    </div>
  </div>
  <% order.order_details.each do |od| %>
    <div class="jumbotron">
      <div class="d-flex align-items-center">
        <p class="lead">
          <%= image_tag od.product_summary["photos"].first %>
        </p>
        <div class="ms-3">
          <p class="fw-bold"><%= od.product_summary["name"] %></p>
          <p><%= od.quantity %> barang x <%= number_to_currency(od.product_summary["price"], unit: "Rp. ") %></p>
          <%= link_to 'Detail', summary_path(od) %>
          <br>
          <% if current_user.level == "buyer" && order.status == "order_successful" && od.is_reviewed == false %>
            <%= link_to 'Review Product', new_product_review_path(od.product, od: od.id) %>
          <% elsif current_user.level == "buyer" && order.status == "order_successful" && od.is_reviewed == true %>
            <%= link_to 'Show Review', product_review_path(od.product, od.review) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <p class="fw-bold">Total: <%= number_to_currency(order.total_price, unit: "Rp. ") %></p>
  <%= (link_to "Invoice", invoce_order_path(order)) if current_user.level == "buyer" %>
  <hr class="my-4">
<% end %>
