<% @orders.each do |order| %>
  <div class="d-flex align-items-center justify-content-between">
    <div>
      <%= order.created_at.to_time.strftime('%B %e, %Y') %>
      <%= order.user.name %>
      <%= render "order_status", order: order %>
    </div>
    <div>
      <%= render 'order_option', order: order %>
    </div>
  </div>
  <% order.order_details.each do |od| %>
    <div class="jumbotron">
      <div class="d-flex align-items-center">
        <p class="lead">
          <%= image_tag od.product.product_photos.first.photo_url %>
        </p>
        <div class="ms-3">
          <p class="fw-bold"><%= od.product_summary["name"] %></p>
          <p><%= od.quantity %> barang x <%= number_to_currency(od.product_summary["price"], unit: "Rp. ") %></p>
          <%= link_to 'Lihat', summary_path(od) %>
        </div>
      </div>
    </div>
  <% end %>
  <p class="fw-bold">Total: <%= number_to_currency(order.total_price, unit: "Rp. ") %></p>
  <hr class="my-4">
<% end %>
