<%= form_for @order, url: checkout_orders_path do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% @carts.each do |cart| %>
    <div class="row">
      <div class="col-3">
        <%= image_tag cart.product.product_photos.first.photo_url %>
      </div>
      <div class="col">
        <div class="row">
          <h4><%= cart.product.name %></h4>
          <% if cart.product.is_active == false %>
            <p>
              <small class="text-danger">Product Unavailable</small>
            </p>
          <% elsif cart.product.stock == 0 %>
            <p>
              <small class="text-danger">Sold Out</small>
            </p>
          <% else %>
            <%= f.fields_for :order_details, OrderDetail.new do |sub_f| %>
              <%= sub_f.hidden_field :product_id, value: cart.product_id %>
              <%= sub_f.label :quantity, "Quantity", class: "form-label" %>
              <%= sub_f.number_field :quantity, value: cart.quantity, class: "form-control", min: 1, max: cart.product.stock %>
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <p>Harga Per Item: <%= number_to_currency(cart.product.price, unit: "Rp. ") %></p>
        </div>
        <div class="row">
          <div class="col">
            <%= (link_to 'Lihat Produk', product_path(cart.product), class: "badge rounded-pill bg-success text-decoration-none link-light") if cart.product.is_active == true && cart.product.stock > 0 %>
            <%= link_to 'Hapus', cart_path(cart), class: "badge rounded-pill bg-danger text-decoration-none link-light", data: { confirm: "Are you sure?" }, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Please wait..." }, disabled: ( @carts.length == (@carts.select { |cart| cart.product.stock == 0 || cart.product.is_active == false }.length) ) %>
<% end %>
