<%= form_for @product, html: { multipart: true }, method: :put do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :price, class: "form-label" %>
    <%= f.text_field :price, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :description, class: "form-label" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :stock, class: "form-label" %>
    <%= f.text_field :stock, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :is_active, class: "form-check-label" %>
    <%= f.check_box :is_active, class: "form-check-input" %>
  </div>
  <div class="mb-3">
    <%= label_tag "Category: " %>
    <% @categories.each do |category| %>
      <%= f.fields_for :product_categories do |sub_f| %>
        <%= sub_f.check_box :category_id, {}, category.id, false %>
        <%= sub_f.label :category_id, category.name %>
      <% end %>
    <% end %>
  </div>
  <div class="mb-3">
    <% @product.product_photos.each do |pp| %>
      <%= image_tag pp.photo_url %>
      <%= f.fields_for :product_photos, pp do |sub_f| %>
        <%= sub_f.file_field :photo, class: "form-control", id: "photos_field" %>
      <% end %>
    <% end %>
  </div>
  <div class="mb-3">
  </div>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
