<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Sold</th>
        <th scope="col">is Active</th>
        <th scope="col">Option</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each.with_index do |product, i| %>
        <tr>
          <th scope="row"><%= i+1 %></th>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= product.stock %></td>
          <td><%= product.sold %></td>
          <td>
            <span class="badge rounded-pill <%= product.is_active ? "bg-success" : "bg-danger" %>">
              <%= show_is_active(product.is_active) %>
            </span>
          </td>
          <td>
            <%= link_to (product.is_active ? "Inactive Product" : "Activate Product" ), active_product_path(product), class: "badge rounded-pill bg-warning text-decoration-none link-light", method: :put, data: { confirm: "Are you sure?" } %>
            <%= link_to 'Edit', edit_product_path(product), class: "badge rounded-pill bg-success text-decoration-none link-light" %>
            <%= link_to 'Delete', product_path(product), class: "badge rounded-pill bg-danger text-decoration-none link-light", method: :delete, data: { confirm: "Are you sure?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
